/*** SONDAGE ----------------------- ***/
.poll {
    background: var(--neutral);
    border-radius: 5px;
    margin-bottom: 10px;
}
.head_poll {
    padding: 10px;
    border-bottom: 1px solid var(--neutralDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px !important;
    border-left: 5px solid var(--accentSoft);
    font-family: var(--title-font);
    letter-spacing: 2px;
    color: var(--accentSoft);
    font-size: 16px;
    text-transform: uppercase;
}
.poll_list {
    display: grid;
    grid-template-columns: auto auto;
    font-style: italic;
    font-weight: 600;
    color: var(--specialSoft);
}
.poll_option {
    padding: 10px 20px 0 10px;
    text-align: right;
}
.poll_vote {
    padding: 10px 10px 0 20px;
    display: flex;
    align-items: center;
}
.poll_send {
    padding: 20px 10px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.poll_vote:nth-child(2),
.poll_option:first-child {
    padding-top: 20px;
}