/*** SONDAGE ----------------------- ***/
.poll {
    background: var(--neutral);
    border-radius: 5px;
    margin-bottom: 10px;
}
.head_poll {
    padding: 10px;
    border-bottom: 1px solid var(--neutralDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.poll_list {
    display: grid;
    grid-template-columns: 220px auto;
}
.poll_option {
    padding: 10px 20px 0 10px;
    border-right: 1px solid var(--neutralDark);
    text-align: right;
}
.poll_vote {
    padding: 10px 10px 0 20px;
    display: flex;
    align-items: center;
}
.poll_send {
    margin-left: 220px;
    padding: 20px 10px 20px 20px;
    border-left: 1px solid var(--neutralDark);
}
.poll_vote:nth-child(2),
.poll_option:first-child {
    padding-top: 20px;
}