{JAVASCRIPT}

<!----------------------------------------------->
<!-- CONNEXION RAPIDE (haut) -------------->


<!-- BEGIN switch_user_login_form_header -->
<div class="panel">
    <form action="{S_LOGIN_ACTION}" method="post" name="form_login">
        <div class="user_login_form center">
            <!-- Nom utilisateur -->
            <label>{L_USERNAME} : <input class="post" type="text" size="10" name="username" /></label> &nbsp;

            <!-- Mot de passe -->
            <label>{L_PASSWORD} : <input class="post" type="password" size="10" name="password" /></label> &nbsp;

            <!-- Check : connexion automatique -->
            <label>{L_AUTO_LOGIN} : <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label> &nbsp;

            <!-- Bouton connexion -->
            {S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />


        </div>
    </form>
</div>
<!-- END switch_user_login_form_header -->


<!----------------------------------------------->
<!-- PAGE D'ACCUEIL -------------->


<!-- BEGIN message_admin_index -->
<div class="panel introduction">

    <!-- Titre de la PA -->
    <!-- BEGIN message_admin_titre -->
    <div class="h3">{message_admin_index.message_admin_titre.MES_TITRE}</div>
    <!-- END message_admin_titre -->

    <!-- Contenu de la PA -->
    <!-- BEGIN message_admin_txt -->
    <div class="mes-txt">{message_admin_index.message_admin_txt.MES_TXT}</div>
    <!-- END message_admin_txt -->
</div>
<!-- END message_admin_index -->


<!----------------------------------------------->
<!-- CB (si affichée en haut) -------------->

{CHATBOX_TOP}


<!----------------------------------------------->
<!-- CATEGORIES -------------->
<!-- (template : index_box) -->

{BOARD_INDEX}


<!----------------------------------------------->
<!-- QUI EST EN LIGNE -------------->

<!-- BEGIN disable_viewonline -->
<div class="qeel">
    <div class="cate_title qeel_title">
        <h2>Qui est en ligne ?</h2>
    </div>
    <div class="qeel_inner">

    <div class="qeel-left">
        <img src="https://www.zupimages.net/up/22/46/oo0c.png" id="group_desc_img" />
        <div id="group_desc_box" class="qeel_bg" style="display: none;">
            <div id="group_desc_title"></div>
            <div id="group_desc_text"></div>
        </div>

        <div id="group_list" onmouseleave="show_grp_img()">
            <a class="groups icarus qeel_bg" href="https://springofpower.forumactif.com/g4-icarus-phenomenon" onmouseover="icarus()">ICARUS PHENOMENON</a>
            <a class="groups theseus qeel_bg" href="https://springofpower.forumactif.com/g3-theseus-paradox" onmouseover="theseus()">THESEUS PARADOX</a>
            <a class="groups twilight qeel_bg" href="https://springofpower.forumactif.com/g5-twilight-zone" onmouseover="twilight()">TWILIGHT ZONE</a>
            <a class="groups hybrid qeel_bg" href="https://springofpower.forumactif.com/g6-hybrid-theory" onmouseover="hybrid()">HYBRID THEORY</a>
            <a class="groups disaster qeel_bg" href="https://springofpower.forumactif.com/g7-tomorrow-s-disaster" onmouseover="disaster()">TOMORROW'S DISASTER</a>
            <a class="groups pnj qeel_bg" href="https://springofpower.forumactif.com/g8-pnj" onmouseover="pnj()">PNJ</a>
        </div>

        <div id="qeel_post_box" class="qeel_bg">
            <!-- Total posts : X messages / Total users : X membres -->
            <div id="qeel_posts">{TOTAL_POSTS}</div>
            <div id="qeel_members">{TOTAL_USERS}</div>
        </div>

    </div>

    <div class="qeel-middle">

        <!-- Dernier inscrit -->
        <div id="last_user">
            <div id="lastuser_avatar"></div>
            
            <div id="newest_user" class="qeel_bg">
                <div id="newest_welcome">BIENVENUE À NEW BLOSSOM</div> 
                <div id="newest_name">{NEWEST_USER}</div> 
            </div>
        </div>

        <!-- Connectés en ce moment -->
        <div id="qeel_online" class="qeel_bg">
            <div id="online_users">
            {LOGGED_IN_USER_LIST}</div>

            <!-- X connectés :: 1 membre, 0 invisible, 0 invité -->
            <div id="total_users">{TOTAL_USERS_ONLINE}</div>
        </div>

    </div>

    <!-- Derniers connectés au cours de ces Xh -->
    <div class="qeel-right">
        <div id="last_connected" class="qeel_bg">{L_CONNECTED_MEMBERS}</div>
        <div style="position:relative">
            <img id="credits_img" src="https://www.zupimages.net/up/22/46/qge8.png">
            <div id="credits" class="credits qeel_bg fadein">
                Ici crédits de ce qui qui l’a fait et qui qui l’admistre avec l’optimisation qui va bien. Et encore un peu plus de blabla.
            </div>
        </div>
    </div>

</div>
</div>



<!-- Changement de texte des informations du QEEL -->
<script type="text/javascript">
$(function(){
  $("#last_user").html($("#last_user").html().replace("L'utilisateur enregistré le plus récent est", ""));
  
  $("#qeel_posts").html($("#qeel_posts").html().replace("Nos membres ont posté un total de", ""));
  
  $("#qeel_members").html($("#qeel_members").html().replace("membres enregistrés", "habitants"));
  $("#qeel_members").html($("#qeel_members").html().replace("Nous avons", ""));
  
  $("#total_users").html($("#total_users").html().replace("Il y a en tout", ""));
  $("#total_users").html($("#total_users").html().replace("utilisateur en ligne", "connecté"));
  $("#total_users").html($("#total_users").html().replace("utilisateurs en ligne", "connectés"));
  
  $("#online_users").html($("#online_users").html().replace("Utilisateurs enregistrés", "En ligne"));
});
</script>

<!-- END disable_viewonline -->
<!-- Fin du QEEL -->


<!----------------------------------------------->
<!-- CB (si affichée en bas) -------------->
{CHATBOX_BOTTOM}



{AUTO_DST}
            