<!-- IMPORTANT!!-->
<!-- ACTIVATE SIMPLE PROFILE: Users & Groups › Profiles › General options › Activate advanced profile: no -->

<br/>
<div class="container">

    <!-- Username -->
    <div class="forum_title_grp topic_title_grp">
        <div class="forum_title_line topic_title_line"></div>
        <div class="topic_title">
            <h1 class="page-title">FICHE D'IDENTIFICATION</h1>
        </div>
    </div>

    <!-- Profile contents -->
    <div class="user_profile">

        <!-- Avatar -->
        <div class="profile_left">
            <!-- <div class="profile_rank">{POSTER_RANK}</div> -->
            <div class="post_pseudo_rank profile_pr">
                <!-- Pseudo -->
                <div class="post_pseudo profile_pseudo">{USERNAME}</div>

                <!-- Rang -->
                <div class="post_rank">
                    <div class="role"></div>
                    <div class="rank">
                    {POSTER_RANK}</div>
                </div>
            </div>
            <div class="profile_avatar" id="user_avatar"> {AVATAR_IMG}</div> 
            <!-- "Last visited" field -->
            <div class="profile_lastvisit">
                <field>{LAST_VISIT_TIME}</field>
            </div>
        </div>
      
        <!-- Profile info -->
        <div class="profile_infos">

            <div class="profile_contact profile_bg">
                <!-- Contact image link -->
                <form action="{S_PROFILE_ACTION}" method="post" name="post">
                    <!-- BEGIN contact_field -->
                    <div id="field_id{contact_field.ID}">{contact_field.CONTENT}</div>
                    <!-- END contact_field -->
                </form>
            </div>

            <div class="profile_content">
            <div class="profile_bg bg_player">
                <div class="profile_player"></div>
            </div>
            <!-- PROFILE FIELDS -->
            <div class="profile_bg bg_main">
            <div class="profile_main">

                <!-- Other fields -->
                <!-- BEGIN profile_field -->
                <div class="profile_field" id="field_id{profile_field.ID}">
                    <label>{profile_field.LABEL}</label>
                    <field>{profile_field.CONTENT}</field>
                </div>
                <!-- END profile_field -->

                <!-- "Private messages" field -->
                <!-- BEGIN switch_dhow_mp -->
                <div class="profile_field">
                    <label>{L_PRIVATE_MSG} :</label>
                    <field>{PRIVATE_MSG}</field>
                </div>
                <!-- END switch_dhow_mp -->

              	<!-- Character sheet -->
                <!-- BEGIN switch_rpg -->
                <!-- BEGIN rpg_fields -->
                <div class="profile_field">
                    <label>{switch_rpg.rpg_fields.F_NAME} :</label>
                    <field>{switch_rpg.rpg_fields.F_VALUE_NEW}</field>
                </div>
                <!-- END rpg_fields -->

                <fieldset class="submit-buttons">{U_ADMIN_RPG_NEW}</fieldset>
                <!-- END switch_rpg -->


            </div>
            </div>
            <!-- End of profile fields -->
            </div>

            <div class="profile_msgs profile_bg">
                <!-- BEGIN profile_field -->
                    <!-- BEGIN profil_type_user_posts -->
                    <a rel="nofollow" href="/st/{PUSERNAME}" id="opentopics" class="btn">OUVERTURES</a><!-- topics opened by -->

                    <a rel="nofollow" href="/sta/{PUSERNAME}" id="alltopics" class="btn">PARTICIPATIONS</a> <!-- all topics -->

                    <a rel="nofollow" href="/spa/{PUSERNAME}" id="allposts" class="btn">MESSAGES</a> <!-- all posts -->
                    <!-- END profil_type_user_posts -->
                <!-- END profile_field -->
            </div>

            <div class="profile_right">
                <div class="profile_bg bg_top">
                <div class="profile_top"></div>
                </div>
                <div class="profile_bg bg_bot">
                <div class="profile_bot"></div>
                </div>
            </div>

        </div>


    </div>

</div>




<script src="{JQUERY_ROOT}json/jquery.json-1.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    $(document).ready(function() {
        $('[id^=field_id]').each(function() {
            if ($(this).find('.field_editable').is('span, div')) {
                $(this).hover(function() {
                    if ($(this).find('.field_editable.invisible').is('span, div')) {
                        $(this).find('.field_editable').prev().addClass('ajax-profil_hover').parent().addClass('ajax-profil_parent').append('<div class="ajax-profil_edit"><img src="{AJAX_EDIT_IMG}" /></div>');
                        $(this).find('.ajax-profil_edit').attr({
                            alt: "{L_FIELD_EDIT_VALUE}",
                            title: "{L_FIELD_EDIT_VALUE}"
                        }).click(function() {
                            $(this).prev().prev().removeClass('ajax-profil_hover').addClass('invisible').next().removeClass('invisible').append('<img src="{AJAX_VALID_IMG}" class="ajax-profil_valid" />').find('input,select');
                            $(this).prev().find('.ajax-profil_valid').attr({
                                alt: "{L_VALIDATE}",
                                title: "{L_VALIDATE}"
                            }).click(function() {
                                var content = new Array();
                                $(this).parent().find('[name]').each(function() {
                                    var type_special = $(this).is('input[type=radio],input[type=checkbox]');
                                    if ((type_special && $(this).is(':checked')) || !type_special) {
                                        content.push(new Array($(this).attr('name'), $(this).attr('value')));
                                    }
                                });
                                var id_name = $(this).parents('[id^=field_id]').attr('id');
                                var id = id_name.substring(8, id_name.length);
                                $.post(
                                    "{U_AJAX_PROFILE}", {
                                        id: id,
                                        user: "{CUR_USER_ID}",
                                        active: "{CUR_USER_ACTIVE}",
                                        content: $.toJSON(content),
                                        tid: "{TID}"
                                    },
                                    function(data) {
                                        $.each(data, function(i, item) {
                                            $('[id=field_id' + i + ']').find('.field_uneditable').html(item).end().find('.ajax-profil_valid').remove().end().find('.field_editable').addClass('invisible').end().find('.field_uneditable').removeClass('invisible');
                                        });
                                    },
                                    "json"
                                );
                            });
                            $(this).remove();
                        });
                    }
                }, function() {
                    if ($(this).find('.field_editable.invisible').is('span, div')) {
                        $(this).find('.field_editable').prev().removeClass('ajax-profil_hover');
                        $(this).find('.ajax-profil_edit').remove();
                    }
                });
            }
        });
    });
    //]]>
</script>
            